dj-database-url==0.4.1
Django==1.11.29
django-haystack==2.5.0
git+https://github.com/alinecrsouza/django-polls-app.git
elasticsearch==2.4.0
gunicorn==19.6.0
psycopg2==2.6.2
urllib3==1.18
whitenoise==3.2.2
