<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Blog</title>
</head>
<body>
    <h1>Hello {{name}}!</h1>

    <ul>
        {% for category in categories %}
        <li>
            {% if category == 'PHP' %}
                <b>{{category.name}}</b>
            {% else %}
                <i>{{category.name}}</i>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
<hr>
<h2>{{ post.name }} ({{ post.category.name }})</h2>
<p>{{ post.content}}</p>
</body>
</html>