{% extends "blog/layout.html" %}
{% block content %}
<!-- Blog Post -->

<!-- Title -->
<h1>{{ post.name }}</h1>

<!-- Author -->
<p class="lead">
    by <a href="{% url 'blog.posts_by_author' post.author.id %}">{{ post.author }}</a>
</p>

{{ msg }}

<hr>

<!-- Date/Time -->
<p><span class="glyphicon glyphicon-time"></span> Created on {{ post.created_at|date:"F d, Y"}} at {{ post.created_at|time:"h:i A"}}</p>

<hr>

<!-- Preview Image -->
<!--<img class="img-responsive" src="http://placehold.it/900x300" alt="">

<hr>-->

<!-- Post Content -->
<p>{{ post.content|safe|linebreaks }}</p>

<hr>

<!-- Blog Comments -->

<!-- Comments Form -->
<div class="well">
    <h4>Leave a Comment:</h4>
    <form role="form" action="/blog/post/{{ post.pk }}/" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.author.errors }}
            <label for="{{ form.author.id_for_label }}">Your name:</label>
            {{ form.author }}
        </div>
        <div class="form-group">
            {{ form.content.errors }}
            <label for="{{ form.content.id_for_label }}">Your comment:</label>
            {{ form.content }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<hr>

<!-- Posted Comments -->

<!-- Comments -->
{% for comment in comments %}
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64" alt="">
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{ comment.author }}
                <small>{{ comment.created_at|date:"F d, Y" }} at {{ comment.created_at|time:"h:i A" }}</small>
            </h4>
            <p>{{ comment.content|safe|linebreaks }}</p>
        </div>
    </div>
{% endfor %}

<!-- Comment -->

{% endblock %}


