{% extends "blog/layout.html" %}
{% block content %}
<h1 class="page-header">
    GoGeek
    <small>A sample blog</small>
</h1>


<section>
    {% for post in posts %}
    <article>
        <h2>
            <a href="{% url 'blog.post' post.pk %}">{{ post.name }}</a>
        </h2>
        <p class="lead">
            by {{ post.author }}
        </p>
        <p><span class="glyphicon glyphicon-time"></span> Created on {{ post.created_at|date:"F d, Y"}} at {{ post.created_at|time:"h:i A"}}</p>
        <hr>
        <!--<img class="img-responsive" src="http://placehold.it/900x300" alt="">
        <hr>-->
        <p>{{ post.content|safe|truncatewords_html:"50"|linebreaks }}</p>
        <a class="btn btn-primary" href="{% url 'blog.post' post.pk %}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
    </article>
    {% endfor %}
</section>

<!-- Pager -->
<ul class="pager">
    {% if posts.has_next %}
        <li class="previous">
            <a href="?page={{ posts.next_page_number }}">&larr; Older</a>
        </li>
    {% endif %}
    {% if posts.has_previous %}
        <li class="next">
            <a href="?page={{ posts.previous_page_number }}">Newer &rarr;</a>
        </li>
    {% endif %}
</ul>
{% endblock %}
